<h2>Liste_Entreprises</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nom</th>
      <th>Adresse</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let entreprise of entreprises">
      <td>{{ entreprise.idEntreprise }}</td>
      <td>{{ entreprise.nomEntreprise }}</td>
      <td>{{ entreprise.adresseEntreprise }}</td>
      <td>{{ entreprise.emailEntreprise }}</td>
      <td>
        <button (click)="updateEntreprise(entreprise.idEntreprise)" class="btn btn-info">Modifier</button>&nbsp;&nbsp;
        <button (click)="deleteEntreprise(entreprise.idEntreprise)" class="btn btn-danger">Supprimer</button>&nbsp;
        <button (click)="detailsEntreprise(entreprise.idEntreprise)" class="btn btn-details">Details</button>
      </td>
    </tr>
  </tbody>
</table>
